
{% include "templates/header.html" %}
{% include "templates/nav.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'students/css/student_style.css' %}" media="screen">
<h1>Students</h1>
<div class="student-manager">
    <ul class="filter-tab-list">
        <li><button class="filter-button" filter="active">Active</button></li>
        <li><button class="filter-button" filter="paused">Paused</button></li>
        <li><button class="filter-button" filter="dropped">Dropped</button></li>
        <li><button class="filter-button" filter="all">All</button></li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Session</th>
                <th>Cohort Start Date</th>
            </tr>
        </thead>
        <tbody id="student-table">
        <!-- Content to be filled by partial -->
        {% include "students/student_table_partial.html" %}
        </tbody>
    </table>
</div>
<hr>
<h2>Add Student</h2>
<form action="{% url 'students:index_filter' filter %}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Student">
</form>
{% include "templates/footer.html" %}

<script>
//Default AJAX Get method
function AjaxGet(url, callback) {
  let http = new XMLHttpRequest();
  http.onreadystatechange = () => {
    if (http.readyState === XMLHttpRequest.DONE && http.status === 200) {
        callback(http);
    } else if (http.status != 200 && http.status != 0) {
        console.log("Error: Request returned with error code " + http.status);
        console.log(http.responseText);
    }
  }
  http.open('GET', url, true);
  http.send();
}

function updatedStudentsTable(url){
    AjaxGet(url, (xmlHttp) => {
        //Take the response html and add it to the table body
        let tableContent = document.getElementById("student-table");
        tableContent.innerHTML = xmlHttp.responseText;
    })
}

//On click of a differnt filter button retreive student info
let filterButtons = document.getElementsByClassName("filter-button");
console.log(filterButtons);
Array.from(filterButtons).forEach((button) => {
    button.addEventListener('click', (e) => {
        filterStr = e.srcElement.attributes["filter"].value;
        url = "get_students/"; //Need to refactor this to not be absolute
        url += filterStr;
        updatedStudentsTable(url);
    }, false);
})

//Immediately invoke call to get all Active students
updatedStudentsTable("get_students/active");
</script>
