{% include "templates/header.html" %}
{% include "templates/nav.html" %}
{% load student_session_tags %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'students/css/student_style.css' %}" media="screen">

{% current_session_id as curr_sesh_id %}
{% assigned_session student.id curr_sesh_id as current_session %}
{% assigned_session student.id curr_sesh_id 'next' as next_session %}
<div class="info-block">
    <h2>{{ student.first_name }} {{ student.last_name }}</h2>
    <h4>{{ student.email }}</h4>
    <a href="{% url 'students:update' student.id %}"><button>Edit Student</button></a>
</div>
<ul class="info-block">
    <li><strong>Status:</strong> {{ student.status }}</li>
    {% if current_session %}
    <li><strong>Current Session:</strong> <a href="{% url 'sessions:details' current_session.id %}">{{ current_session }}</a></li>
    {% else %}
    <li><strong>Current Session:</strong> {{ current_session }}</li>
    {% endif %}
    {% if next_session %}
    <li><strong>Next Session:</strong> <a href="{% url 'sessions:details' next_session.id %}">{{ next_session }}</a></li>
    {% else %}
    <li><strong>Next Session:</strong> {{ next_session }}</li>
    {% endif %}
    <li><strong>Used Rollback</strong> {{ student.has_rolled_back }}</li>
</ul>
<hr>
<div class="info-block">
    <h4>Session History</h4>
    <ul id='sesh-history'>
        {% for session in student.session_history.all %}
        <li><a href="{% url 'sessions:details' session.id %}">{{ session }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="info-block">
    <h4>Aliases</h4>
    <ul>
        {% for alias in student.aliases.all %}
        <li><strong>{{ alias.source }}</strong> {{ alias.handle }}</li>
        {% endfor %}
    </ul>
    <h5>Add Alias</h5>
    <form action="{% url 'students:create_alias' student.id %}" method="POST"\>{% csrf_token %}
        {{ alias_form.as_p }}
        <input type="submit" value="Add Alias">
    </form>
</div>
<form id='note-form' action="{% url 'students:create_note' student.id %}" method="POST"\>{% csrf_token %}
    {{ note_form }}
    <input type="submit" value="Add Note">
</form>
<div class='notes'>
    {% for note in student.notes.all %}
        <div class="note">
            <h5>{{note.content}}</h5>
            <h6>Noted By:<strong> {{ note.instructor.first_name }} {{ note.instructor.last_name }} </strong>({{ note.created_at }})</h6>
        </div>
    {% endfor %}
</div>
{% include "templates/footer.html" %}