table{
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
}
thead{
    background-color: #a8a8cd;
}
tbody > tr:nth-child(odd){
    background-color: #cdcdcd;
}
td, th{
    min-width: 150px;
}